 <launch>
<node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
  <rosparam param="mappings">
    [{old: /world, new: /base_link}]
  </rosparam>
</node>

<node pkg="rosbag" type="play" name="player" args="--clock /home/juliane/catkin_ws/src/intentionrf/passing.bag">
  <remap from="/world" to="/base_link" />
</node>

<param name ="/use_sim_time" value="true"/> 
<node pkg="intentionrf" type="tf_listener.py" 
          name="listener" />
  </launch>
